<div class="center jumbotron">
  <h1> Welcome to MyAttendance App</h1>

  <h2>
    This is the home page fo MyAttendance App by DeepthiBhat
  </h2>

  <%= link_to "Register", "", class: "btn btn-lg btn-success" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Attendance
    </h3>
    <h2 class="left"> Browse and view attendance and sign up later</h2>
    <p><%= link_to "Browse Attendance", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View Attendance
    </h3>
    <h2 class="left"> Browse and view attendance and sign up later</h2>
    <p><%= link_to "Browse Attendance", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>
